<div class="container">
    <h1 class="text-center mb-3">Todo-List Application</h1>
    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    <hr>
    <h4>Your Todo List</h4>
    <div *ngIf="this.todos.length===0; else elseBlock">No Todo to Display</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i">
            <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoToggle)="toggleTodo($event)"></app-todo-item>
        </div>
    </ng-template>
</div>
